* {
    box-sizing: border-box;
    margin: 0;
}
.header-title {
    position: fixed;
    margin-left: 13%;
    font-family: 'Eczar', serif;
    text-align: center;
    margin-top: 2%;
    color: antiquewhite;
}
body {
    background-color: color-mix(in srgb, lightgreen 60%, white 40%);
}
.logo {
    height: 168px;
    position: fixed;
    bottom: 75%;
    right: 87%;
}
table {
    margin: 25px auto;
    position: fixed;
    right: 4%;
    bottom: 80%;
    color: antiquewhite;
    border-spacing: 15px;
    font-size: large;
}
td {
    font-family: 'Eczar', serif;
}
header {
    width: 100%;
    height: 110px;
    position: fixed;
    z-index: 2;
    display: inline-block;
    background-color: green;
}
.assorted-spices {
    position: absolute;
    height: 55%;
    width: 33%;
    bottom: 13%;
    right: 65%;
    border-radius: 30px;
}
.table-links {
    color: inherit;
    text-decoration: none;
}
.about-text {
    font-family: 'Eczar', serif;
    position: absolute;
    left: 38%;
    margin-top: 17%;
    font-size: large;
    color: brown;
}
a {
    text-decoration: underline;
    color: rgb(158, 13, 42);
}
a:hover {
   color: rgb(168, 78, 78);
   font-style: italic;
}
